/*a {
  color: #337ab7;
}*/


body {
	line-height: 1.5;
	font-family: sans-serif;
	color:black;
	margin:2em;
  text-align: center;
}

h1 {

	font-size: 520%;
	font-weight: bold;
  color: white;
}

p {
  margin-top: 1rem;
}


/*h2 {
	font-weight: bold;
	color: #005A9C;
	font-size: 140%;
	text-transform: uppercase;
}*/


#controls {
  
  /*margin-top: 5rem;*/
  text-align: center;
  background-color: black;
  padding: 40px 0px 40px;
}

#recordingsList{
  display: grid;
}

button {
  flex-grow: 1;
  height: 5.5rem;
  width: 15rem;
  min-width: 2rem;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 0.15rem;
  background: #000000;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 2rem;
}

button:hover, button:focus {
  outline: none;
  background: #ffffff;
  color: #000000;
}

button::-moz-focus-inner {
  border: 0;
}

button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}

button:disabled {
  pointer-events: none;
  background-color: white;
  color: lightgrey;
}
button:first-child {
  margin-left: 0;
}

audio {
  display: inline-flex;
  justify-content: center;
  width: 60%;
  margin-top: 0.8rem;
  text-align: center;
}

li {
  list-style: none;
  margin-bottom: 1rem;
  text-align: center;
}


.save {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border: solid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 0.15rem;
  outline: none;
  font-weight: bold;
  margin-left: 5px;
}

.save:hover {
  background-color: #000000;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border: solid;
  border-color: #000000;
  border-width: 1px;
  border-radius: 0.15rem;
}

#slide {
    background-color: black;
    height: 0px;
    width: 100%;
    transition:             height 500ms ease;
        -moz-transition:    height 500ms ease;
        -ms-transition:     height 500ms ease;
        -o-transition:      height 500ms ease;
        -webkit-transition: height 500ms ease;
}


