

/********************** Main Body ************************/
body {
  line-height: 1.5;
  font-family: sans-serif;
  color:black;
  margin:2em;
  text-align: center;
}

/*************** Main Heading Heading ******************/

h1 {
  font-size: 520%;
  font-weight: bold;
  color: white;
}

/************* Div with Recording Buttons ****************/

#controls {
  
  text-align: center;
  background-color: black;
  padding: 40px 0px 40px;
}

/*************** Styling for all buttons ******************/

button {
  flex-grow: 1;
  height: 5.5rem;
  width: 15rem;
  min-width: 2rem;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 0.15rem;
  background: #000000;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 2rem;
}

/***************** Buttons when hover ********************/

button:hover, button:focus {
  outline: none;
  background: #ffffff;
  color: #000000;
}

/************* Inner Focus ring - Buttons ****************/

button::-moz-focus-inner {
  border: 0;
}

/******************* Pressable Button **********************/

button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}

/***************** Non-pressable Button ********************/

button:disabled {
  pointer-events: none;
  background-color: white;
  color: lightgrey;
}

/***************** First Button MArgin *********************/

button:first-child {
  margin-left: 0;
}

/********************* Visualizer *************************/

#slide {
    background-color: black;
    height: 200px;
    width: 100%;
}